@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-pink: #E9B4D3;
  --color-dark-pink: #660732;
  /* footer, ÚVODNÍ ODSTAVCE & ODSTAVCE */
  --color-medium-pink: #770E3D;
  /* nadpisy, ÚVODNÍ ODSTAVCE & ODSTAVCE, podtřžítka, ikony socek */
  --color-red-pink: #8F134C;
  /* bonusová reddish pink pro lineární oddělovače ale rozhodně ne všechny*/
  --color-red-pink-light: #E4A2C9;
  --color-beige: #F4DFDF;
  --color-header-hover-pink: #DF7AAE;
  --breakpoint-3xl: 120rem;

}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

}

@layer components {
  .font-heading {
    font-family: var(--font-heading);
  }
}

@layer utilities {
  .title-font-size {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl;
  }

  .paragraph-font-size {
    @apply text-sm sm:text-base lg:text-lg 2xl:text-xl 2xl:leading-[1.45] 3xl:text-2xl;
  }

  .main-width {
    @apply w-[350px] sm:w-[560px] md:w-[700px] lg:w-[900px] xl:w-[1100px] 2xl:w-[1400px] 3xl:w-[1660px]
  }

  .article {
    a {
      @apply underline decoration-medium-pink hover:no-underline
    }

    a b {
      @apply font-normal text-xl leading-[2] md:text-2xl lg:text-3xl 2xl:text-4xl 2xl:leading-[2.5]
    }

    p {
      @apply mb-4 text-base leading-[1.45] sm:w-94 sm:mx-auto md:w-120 md:mb-5 lg:text-lg lg:w-144 lg:mb-6 2xl:text-xl 2xl:w-172 2xl:mb-7 3xl:text-2xl 3xl:w-210 3xl:mb-10
    }

    p a b {
      @apply font-bold text-base leading-[1.45] lg:text-lg  2xl:text-xl   3xl:text-2xl
    }

    /* p strong je jen další typ nadpisu typu h2-h3 ALE někde je to fakt jen p strong*/

    p strong {
      @apply font-bold text-lg leading-[1.45] sm:w-94 sm:mx-auto md:w-120 lg:text-xl lg:w-144 2xl:text-2xl 2xl:w-172 3xl:text-3xl 3xl:w-210
    }

    h1 {
      @apply font-bold mt-5 mb-2 text-lg leading-[1.45] sm:w-94 sm:mx-auto md:w-120 md:mt-6 lg:text-xl lg:w-144 lg:mt-6 2xl:text-2xl 2xl:w-172 2xl:mt-7 3xl:text-3xl 3xl:w-210 3xl:mb-3
    }

    img {
      @apply mt-6 mb-6 sm:max-w-94 sm:mx-auto md:max-w-120 md:mb-8 lg:max-w-144 lg:mb-9 2xl:max-w-172 3xl:max-w-210
    }

    h2 {
      @apply font-bold mt-5 mb-2 text-lg leading-[1.45] sm:w-94 sm:mx-auto md:w-120 md:mt-6 lg:text-xl lg:w-144 lg:mt-6 2xl:text-2xl 2xl:w-172 2xl:mt-7 3xl:text-3xl 3xl:w-210 3xl:mb-3
    }

    h3 {
      @apply font-bold mt-1 mb-2 text-lg leading-[1.45] sm:w-94 sm:mx-auto md:w-120 lg:text-xl lg:w-144 lg:mt-2 lg:mb-3 2xl:text-2xl 2xl:w-172 2xl:mt-4 2xl:mb-3 3xl:text-3xl 3xl:w-210 3xl:mb-4
    }

    ol {
      @apply list-decimal list-outside ml-3 mb-4 text-base leading-[1.45] sm:w-94 sm:mx-auto sm:pl-4 md:w-120 md:mb-5 lg:text-lg lg:w-144 lg:mb-6 lg:pl-5 2xl:text-xl 2xl:w-172 2xl:mb-7 2xl:pl-6 3xl:text-2xl 3xl:w-210 3xl:mb-10 3xl:pl-8
    }
    
    ol li {
      @apply mb-4 2xl:mb-6
    }

    ol li a b {
      @apply font-bold text-base leading-[1.45] lg:text-lg  2xl:text-xl   3xl:text-2xl
    }

    ul {
      @apply list-disc ml-3 mb-4 text-base leading-[1.45] sm:w-94 sm:mx-auto sm:pl-4 md:w-120 md:mb-5 lg:text-lg lg:w-144 lg:mb-6 lg:pl-5 2xl:text-xl 2xl:w-172 2xl:mb-7 2xl:pl-6 3xl:text-2xl 3xl:w-210 3xl:mb-10 3xl:pl-8
    }

    ul li {
      @apply mb-4 2xl:mb-6
    }

    blockquote {
      @apply italic mb-4 text-base leading-[1.45] sm:w-94 sm:mx-auto md:w-120 md:mb-5 lg:text-lg lg:w-144 lg:mb-6 2xl:text-xl 2xl:w-172 2xl:mb-7 3xl:text-2xl 3xl:w-210 3xl:mb-10
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
